Repository bounswe/bounswe2025group5, pull requests merged in 2025-04, with the labels that each got.

#135 bug-fix , sending photo url in get Posts too
  backend/src/main/java/com/example/CMPE352/model/response/GetPostResponse.java
  backend/src/main/java/com/example/CMPE352/service/PostService.java
Labels: bug

#140 Mobile kerim
  .DS_Store
  backend/src/main/java/com/example/CMPE352/config/CorsConfig.java
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/explore.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/profile.tsx
  mobile/app/(tabs)/wastegoal.tsx
  mobile/app/+not-found.tsx
  mobile/app/_layout.tsx
  mobile/app/create_post.tsx
  mobile/app/edit_profile.tsx
  mobile/assets/images/recycle-logo-white.png
  mobile/assets/images/recycle-logo.png
  mobile/assets/images/wallpaper.png
  mobile/assets/images/wasteless-logo.png
  mobile/package-lock.json
  mobile/package.json
Labels: Urgent, workload: low, mobile

#155 Endpoints for home page
  backend/src/main/java/com/example/CMPE352/controller/PostController.java
  backend/src/main/java/com/example/CMPE352/controller/WasteLogController.java
  backend/src/main/java/com/example/CMPE352/model/response/TotalLogResponse.java
  backend/src/main/java/com/example/CMPE352/repository/PostRepository.java
  backend/src/main/java/com/example/CMPE352/repository/WasteLogRepository.java
  backend/src/main/java/com/example/CMPE352/service/PostService.java
  backend/src/main/java/com/example/CMPE352/service/WasteLogService.java
Labels: backend, implementation

#160 Wikidata api integration- generic usage
  backend/pom.xml
  backend/src/main/java/com/example/CMPE352/controller/SearchController.java
  backend/src/main/java/com/example/CMPE352/model/Profile.java
  backend/src/main/java/com/example/CMPE352/model/User.java
  backend/src/main/java/com/example/CMPE352/model/wikidata/RelatedLabelBinding.java
  backend/src/main/java/com/example/CMPE352/model/wikidata/SparqlBindingValue.java
  backend/src/main/java/com/example/CMPE352/model/wikidata/SparqlResponse.java
  backend/src/main/java/com/example/CMPE352/model/wikidata/SparqlResultsContainer.java
  backend/src/main/java/com/example/CMPE352/model/wikidata/WikidataSearchResponse.java
  backend/src/main/java/com/example/CMPE352/model/wikidata/WikidataSearchResult.java
  backend/src/main/java/com/example/CMPE352/repository/PostRepository.java
  backend/src/main/java/com/example/CMPE352/repository/ProfileRepository.java
  backend/src/main/java/com/example/CMPE352/service/ForumSearchService.java
  backend/src/main/java/com/example/CMPE352/service/WikidataLookUpService.java
Labels: workload: heavy, backend
