Repository bounswe/bounswe2025group5, pull requests merged in 2025-05, with the labels that each got.

#163 just arrange of exceptions
  backend/src/main/java/com/example/CMPE352/service/ForumSearchService.java
Labels: backend

#164 deployment of backend, dockerfile and docker compose file
  backend/Dockerfile
  docker-compose.yml
Labels: backend, implementation

#170 Save Post related endpoints and the database query
  backend/src/main/java/com/example/CMPE352/controller/PostController.java
  backend/src/main/java/com/example/CMPE352/model/SavedPost.java
  backend/src/main/java/com/example/CMPE352/model/request/SavePostRequest.java
  backend/src/main/java/com/example/CMPE352/model/response/SavePostResponse.java
  backend/src/main/java/com/example/CMPE352/repository/SavedPostRepository.java
  backend/src/main/java/com/example/CMPE352/service/PostService.java
Labels: backend

#176 Challenge leaderboard essential parts
  backend/src/main/java/com/example/CMPE352/controller/ChallengeController.java
  backend/src/main/java/com/example/CMPE352/model/Challenge.java
  backend/src/main/java/com/example/CMPE352/model/UserChallengeProgress.java
  backend/src/main/java/com/example/CMPE352/model/UserChallengeProgressId.java
  backend/src/main/java/com/example/CMPE352/model/request/AttendChallengeRequest.java
  backend/src/main/java/com/example/CMPE352/model/request/CreateChallengeRequest.java
  backend/src/main/java/com/example/CMPE352/model/response/AttendChallengeResponse.java
  backend/src/main/java/com/example/CMPE352/model/response/ChallengeResponse.java
  backend/src/main/java/com/example/CMPE352/model/response/EndChallengeResponse.java
  backend/src/main/java/com/example/CMPE352/model/response/LeaveChallengeResponse.java
  backend/src/main/java/com/example/CMPE352/repository/ChallengeRepository.java
  backend/src/main/java/com/example/CMPE352/repository/UserChallengeProgressRepository.java
  backend/src/main/java/com/example/CMPE352/service/ChallengeService.java
Labels: workload: normal, backend, implementation

#178 Leaderboard part of challenge- triggers and endpoint
  backend/src/main/java/com/example/CMPE352/controller/ChallengeController.java
  backend/src/main/java/com/example/CMPE352/model/WasteLog.java
  backend/src/main/java/com/example/CMPE352/model/response/LeaderboardEntry.java
  backend/src/main/java/com/example/CMPE352/repository/UserChallengeProgressRepository.java
  backend/src/main/java/com/example/CMPE352/service/ChallengeService.java
  backend/src/main/java/com/example/CMPE352/service/WasteLogService.java
Labels: workload: normal, backend, implementation

#182 Get posts response change
  backend/src/main/java/com/example/CMPE352/controller/PostController.java
  backend/src/main/java/com/example/CMPE352/controller/SearchController.java
  backend/src/main/java/com/example/CMPE352/model/response/GetPostResponse.java
  backend/src/main/java/com/example/CMPE352/repository/PostLikeRepository.java
  backend/src/main/java/com/example/CMPE352/repository/SavedPostRepository.java
  backend/src/main/java/com/example/CMPE352/service/ForumSearchService.java
  backend/src/main/java/com/example/CMPE352/service/PostService.java
Labels: workload: normal, backend, implementation

#184 make username optional, and modify the methods according to that
  backend/src/main/java/com/example/CMPE352/controller/PostController.java
  backend/src/main/java/com/example/CMPE352/controller/SearchController.java
  backend/src/main/java/com/example/CMPE352/service/ForumSearchService.java
  backend/src/main/java/com/example/CMPE352/service/PostService.java
Labels: workload: low, backend, implementation

#187 endpoint implementation for retrieving challenges
  backend/src/main/java/com/example/CMPE352/config/.DS_Store
  backend/src/main/java/com/example/CMPE352/config/CorsConfig.java
  backend/src/main/java/com/example/CMPE352/controller/ChallengeController.java
  backend/src/main/java/com/example/CMPE352/model/response/ChallengeListResponse.java
  backend/src/main/java/com/example/CMPE352/service/ChallengeService.java
Labels: workload: normal, backend, implementation

#190 mobile/ milestone 2 improvements regarding semantic search implementation and homepage graphics
  .gitignore
  backend/src/main/java/com/example/CMPE352/config/WebConfig.java
  backend/src/main/resources/application.properties
  mobile/app/(tabs)/explore.tsx
  mobile/app/(tabs)/index.tsx
  mobile/package.json
Labels: Urgent, workload: heavy, implementation, mobile

#191 mobile/ milestone 2 improvements regarding challenges and leaderboards
  .idea/.gitignore
  .idea/bounswe2025group5.iml
  .idea/compiler.xml
  .idea/encodings.xml
  .idea/gradle.xml
  .idea/jarRepositories.xml
  .idea/kotlinc.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/uiDesigner.xml
  .idea/vcs.xml
  backend/mvnw
  backend/src/main/java/com/example/CMPE352/controller/AuthController.java
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/challenges.tsx
  mobile/app/(tabs)/explore.tsx
  mobile/app/(tabs)/profile.tsx
  mobile/package-lock.json
  mobile/package.json
  package-lock.json
Labels: frontend, implementation, mobile

#201 just return the user id in login response
  backend/src/main/java/com/example/CMPE352/model/response/LoginResponse.java
  backend/src/main/java/com/example/CMPE352/service/AuthService.java
Labels: Urgent, workload: low, backend, implementation

#202 there is a little issue about saving profile- it is solved.
  backend/src/main/java/com/example/CMPE352/service/ProfileService.java
Labels: Urgent, backend

#213 change the response of waste goal for progress of the user.
  backend/src/main/java/com/example/CMPE352/model/response/GetWasteGoalResponse.java
  backend/src/main/java/com/example/CMPE352/service/WasteGoalService.java
Labels: workload: low, backend, implementation

#223 upload of photos for profile and post
  backend/pom.xml
  backend/src/main/java/com/example/CMPE352/config/AwsS3Config.java
  backend/src/main/java/com/example/CMPE352/controller/PostController.java
  backend/src/main/java/com/example/CMPE352/controller/ProfileController.java
  backend/src/main/java/com/example/CMPE352/exception/UploadFailedException.java
  backend/src/main/java/com/example/CMPE352/model/request/CreatePostRequest.java
  backend/src/main/java/com/example/CMPE352/model/request/ProfileEditAndCreateRequest.java
  backend/src/main/java/com/example/CMPE352/model/response/CreateOrEditPostResponse.java
  backend/src/main/java/com/example/CMPE352/service/PostService.java
  backend/src/main/java/com/example/CMPE352/service/ProfileService.java
Labels: Urgent, workload: heavy, backend, implementation

#232 mobile/ add user_id
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/challenges.tsx
  mobile/app/(tabs)/explore.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/profile.tsx
  mobile/app/(tabs)/wastegoal.tsx
  mobile/app/_layout.tsx
  mobile/app/create_post.tsx
  mobile/app/edit_post_detail.tsx
  mobile/app/edit_profile.tsx
  mobile/app/posts.tsx
Labels: Urgent, workload: low, implementation

#229 Like and comment post functionality in forum
  mobile/app/(tabs)/explore.tsx
  mobile/app/(tabs)/index.tsx
  mobile/package-lock.json
  mobile/package.json
Labels: Urgent, workload: heavy, mobile

#234 Mobile dev refresh fix
  mobile/app/(tabs)/index.tsx
Labels: bug, Urgent, mobile

#236 get Posts for user endpoint and its method in service- the query is a…
  backend/src/main/java/com/example/CMPE352/controller/PostController.java
  backend/src/main/java/com/example/CMPE352/repository/PostRepository.java
  backend/src/main/java/com/example/CMPE352/service/PostService.java
Labels: workload: low, backend, implementation

#237 change user id to username for request and response
  backend/src/main/java/com/example/CMPE352/controller/PostController.java
  backend/src/main/java/com/example/CMPE352/model/request/SavePostRequest.java
  backend/src/main/java/com/example/CMPE352/model/response/SavePostResponse.java
  backend/src/main/java/com/example/CMPE352/service/PostService.java
Labels: workload: low, backend, implementation

#241 send photo url too in the response for the get saved posts, change the request to send username
  backend/src/main/java/com/example/CMPE352/controller/PostController.java
  backend/src/main/java/com/example/CMPE352/model/response/GetSavedPostResponse.java
  backend/src/main/java/com/example/CMPE352/service/PostService.java
Labels: bug, workload: low, backend, implementation

#248 Mobile-kerim final implementations
  backend/src/main/java/com/example/CMPE352/controller/HomePageController.java
  backend/src/main/java/com/example/CMPE352/controller/PostController.java
  backend/src/main/java/com/example/CMPE352/model/request/SavePostRequest.java
  backend/src/main/java/com/example/CMPE352/model/response/GetSavedPostResponse.java
  backend/src/main/java/com/example/CMPE352/model/response/MotivationalQuoteResponse.java
  backend/src/main/java/com/example/CMPE352/model/response/SavePostResponse.java
  backend/src/main/java/com/example/CMPE352/model/response/ZenQuoteExternalResponse.java
  backend/src/main/java/com/example/CMPE352/repository/PostRepository.java
  backend/src/main/java/com/example/CMPE352/service/MotivationService.java
  backend/src/main/java/com/example/CMPE352/service/PostService.java
  database/init.sql
  mobile/app.json
  mobile/app/(tabs)/explore.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/profile.tsx
  mobile/app/(tabs)/wastegoal.tsx
  mobile/app/create_post.tsx
  mobile/app/edit_post_detail.tsx
  mobile/app/edit_profile.tsx
  mobile/app/posts.tsx
  mobile/eas.json
  mobile/package-lock.json
  mobile/package.json
Labels: enhancement, Urgent, mobile

#251 scroll down bug in "manage posts" page
  mobile/app/(tabs)/__tests__/PostItem.test.tsx
  mobile/app/(tabs)/explore.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/components/CheckBox.tsx
  mobile/app/components/CommentItemDisplay.tsx
  mobile/app/components/PostItem.tsx
  mobile/app/posts.tsx
Labels: bug, workload: low, mobile

#267 comment count and creator username for saved posts
  backend/src/main/java/com/example/CMPE352/model/response/GetSavedPostResponse.java
  backend/src/main/java/com/example/CMPE352/service/PostService.java
Labels: workload: low, backend, implementation

#265 new design, latest frontend implementations
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/assets/userImage.png
  frontend/src/assets/wasteImg.png
  frontend/src/components/ChallengeCard.js
  frontend/src/components/CreateChallengeCard.js
  frontend/src/components/CreatePostButton.js
  frontend/src/components/DeletePost.js
  frontend/src/components/EditPostButton.js
  frontend/src/components/LeaderboardCard.js
  frontend/src/components/LikeButton.js
  frontend/src/components/LogoutButton.js
  frontend/src/components/Navbar.js
  frontend/src/components/PostCard.js
  frontend/src/components/SaveButton.js
  frontend/src/components/comment/CommentInput.js
  frontend/src/components/comment/CommentList.js
  frontend/src/components/ui/bootstrapModal.js
  frontend/src/components/ui/button.js
  frontend/src/components/ui/spinner.js
  frontend/src/pages/KVKK.js
  frontend/src/pages/challenge.js
  frontend/src/pages/feed.js
  frontend/src/pages/homePage.js
  frontend/src/pages/login.js
  frontend/src/pages/mainPage.js
  frontend/src/pages/profilePage.js
  frontend/src/pages/register.js
  package-lock.json
  package.json
Labels: enhancement, Urgent, workload: heavy, frontend, implementation

#246 save/unsave feature and saved posts page
  backend/src/main/java/com/example/CMPE352/model/response/GetSavedPostResponse.java
  backend/src/main/java/com/example/CMPE352/service/PostService.java
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/challenges.tsx
  mobile/app/(tabs)/explore.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/profile.tsx
  mobile/app/_layout.tsx
  mobile/app/components/PostItem.tsx
  mobile/app/posts.tsx
  mobile/app/saved_posts.tsx
  mobile/package-lock.json
  mobile/package.json
Labels: enhancement, Urgent, workload: normal, mobile

#269 external air quality api, unit tests
  backend/src/main/java/com/example/CMPE352/controller/HomePageController.java
  backend/src/main/java/com/example/CMPE352/model/response/AirQualityResponse.java
  backend/src/main/java/com/example/CMPE352/service/AirQualityService.java
  mobile/app/(tabs)/__tests__/ChallengesScreen.test.tsx
  mobile/app/(tabs)/__tests__/HomeScreen.interactions.tsx
  mobile/app/(tabs)/__tests__/ProfileScreen.test.tsx
  mobile/app/(tabs)/challenges.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/profile.tsx
Labels: enhancement, Urgent, workload: heavy, backend, mobile

#273 created the unit tests for waste goal service and waste log service
  backend/src/test/java/com/example/CMPE352/service/WasteGoalServiceTest.java
  backend/src/test/java/com/example/CMPE352/service/WasteLogServiceTest.java
Labels: workload: low, backend, implementation

#278 badge part
  backend/src/main/java/com/example/CMPE352/controller/ProfileController.java
  backend/src/main/java/com/example/CMPE352/model/Badge.java
  backend/src/main/java/com/example/CMPE352/model/BadgeId.java
  backend/src/main/java/com/example/CMPE352/model/response/BadgeResponse.java
  backend/src/main/java/com/example/CMPE352/repository/BadgeRepository.java
  backend/src/main/java/com/example/CMPE352/service/ProfileService.java
Labels: workload: normal, backend, implementation

#284 Mobile badges feature
  .gitignore
  backend/src/main/java/com/example/CMPE352/controller/ProfileController.java
  backend/src/main/java/com/example/CMPE352/model/Badge.java
  backend/src/main/java/com/example/CMPE352/model/BadgeId.java
  backend/src/main/java/com/example/CMPE352/model/response/BadgeResponse.java
  backend/src/main/java/com/example/CMPE352/repository/BadgeRepository.java
  backend/src/main/java/com/example/CMPE352/service/ProfileService.java
  backend/src/test/java/com/example/CMPE352/service/WasteGoalServiceTest.java
  backend/src/test/java/com/example/CMPE352/service/WasteLogServiceTest.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/assets/userImage.png
  frontend/src/assets/wasteImg.png
  frontend/src/components/ChallengeCard.js
  frontend/src/components/CreateChallengeCard.js
  frontend/src/components/CreatePostButton.js
  frontend/src/components/DeletePost.js
  frontend/src/components/EditPostButton.js
  frontend/src/components/LeaderboardCard.js
  frontend/src/components/LikeButton.js
  frontend/src/components/LogoutButton.js
  frontend/src/components/Navbar.js
  frontend/src/components/PostCard.js
  frontend/src/components/SaveButton.js
  frontend/src/components/comment/CommentInput.js
  frontend/src/components/comment/CommentList.js
  frontend/src/components/ui/bootstrapModal.js
  frontend/src/components/ui/button.js
  frontend/src/components/ui/spinner.js
  frontend/src/pages/KVKK.js
  frontend/src/pages/challenge.js
  frontend/src/pages/feed.js
  frontend/src/pages/homePage.js
  frontend/src/pages/login.js
  frontend/src/pages/mainPage.js
  frontend/src/pages/profilePage.js
  frontend/src/pages/register.js
  mobile/app/(tabs)/profile.tsx
  mobile/app/_layout.tsx
  mobile/app/badges.tsx
  package-lock.json
  package.json
Labels: enhancement, Urgent, workload: low, mobile

#286 Mobile dev
  backend/src/main/java/com/example/CMPE352/controller/HomePageController.java
  backend/src/main/java/com/example/CMPE352/model/response/AirQualityResponse.java
  backend/src/main/java/com/example/CMPE352/model/response/NumberTriviaResponse.java
  backend/src/main/java/com/example/CMPE352/service/AirQualityService.java
  backend/src/main/java/com/example/CMPE352/service/NumberService.java
  mobile/app.json
  mobile/app/(tabs)/__tests__/ChallengesScreen.test.tsx
  mobile/app/(tabs)/__tests__/HomeScreen.interactions.tsx
  mobile/app/(tabs)/__tests__/HomeScreen.test.tsx
  mobile/app/(tabs)/__tests__/PostItem.test.tsx
  mobile/app/(tabs)/__tests__/ProfileScreen.test.tsx
  mobile/app/(tabs)/__tests__/SaveLikeToggle.test.tsx
  mobile/app/(tabs)/_layout.tsx
  mobile/app/(tabs)/challenges.tsx
  mobile/app/(tabs)/explore.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/profile.tsx
  mobile/app/(tabs)/wastegoal.tsx
  mobile/app/_layout.tsx
  mobile/app/badges.tsx
  mobile/app/components/CheckBox.tsx
  mobile/app/components/CommentItemDisplay.tsx
  mobile/app/components/PostItem.tsx
  mobile/app/create_post.tsx
  mobile/app/edit_post_detail.tsx
  mobile/app/edit_profile.tsx
  mobile/app/posts.tsx
  mobile/app/saved_posts.tsx
  mobile/eas.json
  mobile/jest-setup.ts
  mobile/package-lock.json
  mobile/package.json
Labels: help wanted, Urgent, mobile

#289 external api for weather
  backend/src/main/java/com/example/CMPE352/controller/HomePageController.java
  backend/src/main/java/com/example/CMPE352/model/response/CurrentWeatherDataResponse.java
  backend/src/main/java/com/example/CMPE352/service/CurrentWeatherService.java
  mobile/app/(tabs)/index.tsx
Labels: enhancement, Urgent, workload: low, backend, mobile

#291 fix for editing goal for progress
  backend/src/main/java/com/example/CMPE352/service/WasteGoalService.java
Labels: bug, workload: low, backend, implementation

#297 Main frontend
  frontend/src/components/searchBar.js
  frontend/src/index.js
  frontend/src/pages/challenge.js
  frontend/src/pages/feed.js
  frontend/src/pages/login.js
  frontend/src/pages/profilePage.js
Labels: bug, enhancement, Urgent, workload: normal, frontend, implementation

#299 corrected the server ip in mobile
  mobile/app.json
  mobile/app/(tabs)/challenges.tsx
  mobile/app/(tabs)/explore.tsx
  mobile/app/(tabs)/index.tsx
  mobile/app/(tabs)/profile.tsx
  mobile/app/(tabs)/wastegoal.tsx
  mobile/app/badges.tsx
  mobile/app/create_post.tsx
  mobile/app/edit_post_detail.tsx
  mobile/app/edit_profile.tsx
  mobile/app/posts.tsx
  mobile/app/saved_posts.tsx
  mobile/eas.json
Labels: bug, Urgent, workload: low, mobile

#300 Main frontend
  frontend/src/components/CreatePostButton.js
  frontend/src/components/DeletePost.js
  frontend/src/components/EditPostButton.js
  frontend/src/components/LikeButton.js
  frontend/src/components/PostCard.js
  frontend/src/components/SaveButton.js
  frontend/src/pages/challenge.js
  frontend/src/pages/feed.js
  frontend/src/pages/login.js
  frontend/src/pages/profilePage.js
Labels: enhancement, Urgent, workload: heavy, frontend, implementation

#303 fix load more in feed
  frontend/src/pages/feed.js
Labels: bug, Urgent, workload: low, frontend, implementation

#301 configuration files of deployed APK
  mobile/app.json
  mobile/app/(tabs)/challenges.tsx
  mobile/eas.json
  mobile/package-lock.json
  mobile/package.json
Labels: Urgent, workload: low, mobile
